body
{
    text-align: center;
    background-color: lightblue;
}

a:hover
{
    text-decoration: underline;
}

.home
{
    text-align: center;
    background-color: lightgreen;
    font-size: 20px;
}

li
{
    font-weight: bold;
}

h2
{
    display: inline;
}